# Global settings 
export SENSU_VERSION=5.21.0

# Sensu CLI settings 
export SENSU_CONFIG_DIR=".sensu/default" # not officially supported (yet)
export SENSU_CLI_VERSION=${SENSU_VERSION}
export SENSU_API_URL=http://127.0.0.1:8080
export SENSU_USERNAME=sensu
export SENSU_PASSWORD=sensu
export SENSU_NAMESPACE=default

# Sensu Agent settings
export SENSU_AGENT_VERSION=${SENSU_VERSION}
export SENSU_BACKEND_URL=ws://sensu-backend:8081
export SENSU_SUBSCRIPTIONS=linux,workshop,devel
