export SENSU_VERSION=6.2.5
export SENSU_BACKEND_HOST=127.0.0.1
export SENSU_WORKSHOP_USERNAME=sensu
export SENSU_WORKSHOP_PASSWORD=sensu
export SENSU_BACKEND_URL=http://${SENSU_BACKEND_HOST}:8081
export SENSU_API_URL=http://${SENSU_BACKEND_HOST}:8080
# export SENSU_API_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
