# ignore user env files
# git update-index --assume-unchanged .envrc .envrc.ps1
.envrc
.envrc.ps1

# ignore cluster config files
license.json
config/sensu/rbac/*

# ignore workshop artifacts
*.zip
*.tar.gz

# ignore demo files
demo/
