${Env:SENSU_VERSION}="${WORKSHOP_SENSU_VERSION}"
${Env:SENSU_BUILD}="${WORKSHOP_SENSU_BUILD}"
${Env:SENSU_BACKEND_HOST}="${WORKSHOP_HOSTNAME}"
${Env:SENSU_NAMESPACE}="${USERNAME}"
${Env:SENSU_USER}="${USERNAME}"
${Env:SENSU_PASSWORD}="${WORKSHOP_PASSWORD}"
${Env:SENSU_BACKEND_URL}="ws://${WORKSHOP_HOSTNAME}:8081"
${Env:SENSU_API_URL}="http://${WORKSHOP_HOSTNAME}:8080"
${Env:SENSU_API_KEY}="${USER_API_KEY}"
