export SENSU_VERSION=${WORKSHOP_SENSU_VERSION}
export SENSU_BUILD=${WORKSHOP_SENSU_BUILD}
export SENSU_BACKEND_HOST=${WORKSHOP_HOSTNAME}
export SENSU_NAMESPACE=${USERNAME}
export SENSU_USER=${USERNAME}
export SENSU_PASSWORD=${WORKSHOP_PASSWORD}
export SENSU_BACKEND_URL=ws://${WORKSHOP_HOSTNAME}:8081
export SENSU_API_URL=http://${WORKSHOP_HOSTNAME}:8080
export SENSU_API_KEY=${USER_API_KEY}
